@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Racing+Sans+One&display=swap');
.container {

  padding:0 20px;
  font-family: 'Lato', sans-serif;

  .element 
  {
    position: relative;
    //height: 200px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.43);
    padding: 20px;
    top:0;
    width:100%;
    margin-top: 10px;
    overflow: hidden;
    &.active {
      margin-left: -20px;
    margin-right: -20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background: white;
    margin-top: 0;
    height: 100%;
    img {
      max-width: 200px;
    }
    h1{
      text-align: center;
    }
    }
    img{
      max-width: 80px;
      display: block;
     margin: 0 auto;
     transition: all ease-in 500ms;

    }
    h1{
      font-weight: bold;
      transition: all ease-in-out .3s;
      text-align: left;
      font-family: 'Racing Sans One', cursive;

    }
    .showAfter{
      position: absolute;
      z-index: -1;
      p{
        line-height: 20px;;
      }
    }

  }
}