<ion-header  >
  <ion-toolbar color="primary">
    <ion-title>
      Animation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div class='container'>
  <div *ngFor='let x of data'>

    <div class="element" (click)="onClickActive(x)" [ngClass]="status && current == x ? 'element active' : 'element'">

      <img [src]="x.image" />
      <h1>{{ x.title}}</h1>
      <div class="showAfter">
        <p>{{ x.text }}</p>
      </div>
  
    </div>
  </div>
 

</div>
  
</ion-content>
